* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: 0.8px;
    background-color: #464646;
  }
  
  main { // Szerokość głównej zawartości strony - zdjęć i opisu
    width: 1100px;
  }

  img{
    outline: 25px solid #2f2f2f;
    background-color:#2f2f2f;
  }

  #p1{
    width: 300px;
    height: 400px;
    margin-right: 700px;
  }

  #p2{
    height: 300px;
    width: 400px;
    margin-top: 150px;
    margin-right: 100px;
    
  }

  #pictures{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%)  
  }

  #header{
    color: gray ;
    text-transform: uppercase;
    background-color: #2f2f2f;
    display: inline;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    text-align: center;
    height: 50px;
}

ul{
    list-style: none;
    padding-right: 0;
    padding-left: 0; 
    display: inline-block;
    top: 0;
    left: 0;
}

.h{
    display: inline-block;
    margin-right:1020px;
    font-size: 22px;
    color:white;
    margin-left: 0;
}

.h1{
    margin-right:1020px;
    font-size: 12px;
    color:gray;
    text-align: center;
}

.pr{
    color:orangered;
}

li{
    font-size: 15px;
    text-align: right;
    padding-right: 10px;
    display: inline;
}

.h2{
    padding-left: 20px;
    float: right;
}

.pr1{
    color:white;
}

.description{
    position:relative;
    padding-top: 29px;
    width: 250px;
    color:gray;
    padding-left: 900px;
    line-height: 30px;
    font-size: 12px;
}

.link{
    color:white;
}

h1{
    padding-left: 780px;
    padding-top: 150px;
    letter-spacing: 20px;
    text-transform: uppercase;
    color:white;
}
