body{
    background-color:white;
}

#nav{
    color: black ;
    text-transform: uppercase;
    letter-spacing: 12px;
    font-weight: bold;
    letter-spacing: 5px;
    background-color: whitesmoke;;
    box-shadow: 0px 0px 10px #a5a5a5;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    
}

.section{
    margin-left: 20%;
    margin-right: 20%;
    display:block;
    align-items: center;
}

.event{
    border:2px solid lightgray;
    border-radius: 10px;
    margin-top: 20px;
    padding: 33px;
    display: block;
}

.title{
    font-weight: bold;
    font-size: 20px;
    display: inline;
    padding-bottom: 2px;
}

.date{
    text-align: right;
    display: inline;
    float: right;  

}

.organizer{
    font-size: 15px;
    padding-bottom: 5px;
}

.primary{
    padding-bottom: 4px;
    background-color:rgb(74, 147, 172);
    border: 4px solid  rgb(74, 147, 172);
    text-align: center;
    padding: 2px 4px;
    border-radius: 10px;
    color:white;
}
.secondary{
    display: inline;
    padding-bottom: 4px;
    float: right;
    background-color:white;
    border: 1px solid  rgb(74, 147, 172);
    text-align: center;
    padding: 5px 6px;
    border-radius: 10px;
    color:rgb(74, 147, 172);
}  

.secondary1{
    display: inline;
    float: left;
    background-color:white;
    border: 1px solid  rgb(74, 147, 172);
    text-align: center;
    padding: 5px 6px;
    border-radius: 10px;
    color:rgb(74, 147, 172);

    
}  
    


.description{
    padding-bottom: 8px;
    padding-top: 5px;
}

.info{
    text-align: right;
    display: fixed;
    float: right;  
    color: black ;
    background-color: lightyellow;
    display: inline-block;
    position: fixed;
    left: 85%;
    bottom: 0;
    padding: 16px;
    width: 140px;
    border:2px solid yellow;
    border-radius:10px;
}
