// .A{
   
//     background-color: rgba(99, 89, 184, 0.589);
//     text-align: center;
//     padding-top: 0px;
//     padding-left: 0px;
//     padding-right: 0px;
//     height: 100px;
//     width: 200px;
//     border: 2px solid rgb(41, 4, 204);
//     margin-top: 10px;
    

// }

// .B{
   
//     background-color: rgba(184, 100, 89, 0.589);
//     text-align: center;
//     padding-top: 0px;
//     padding-left: 0px;
//     padding-right: 0px;
//     height: 100px;
//     width: 200px;
//     border: 2px solid rgb(204, 34, 4);
//     margin: 50px;


// }

// div{
//     margin: 0;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     margin-right: 50%;
//     transform: translate(-50%, -50%)  
// }

div{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.A{
   
    background-color: rgba(99, 89, 184, 0.589);
    text-align: center;
    height: 100px;
    width: 200px;
    border: 2px solid rgb(41, 4, 204);
    bottom: 50px;
    
    

}

.B{
   
    background-color: rgba(184, 100, 89, 0.589);
    text-align: center;
    height: 100px;
    width: 200px;
    border: 2px solid rgb(204, 34, 4);
    
    left: 50px;
    top: 50px;
}