body{
    background-color:white;
}

#nav{
    color: black ;
    text-transform: uppercase;
    letter-spacing: 12px;
    font-weight: bold;
    letter-spacing: 5px;
    background-color: whitesmoke;;
    box-shadow: 0px 0px 10px #a5a5a5;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    
}

.section{
    margin-left: 20%;
    margin-right: 20%;
    display:block;
    align-items: center;
}

.event{
    border:2px solid lightgray;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    display: block;
}

.title{
    font-weight: bold;
    font-size: 20px;
    display: inline;
    padding-bottom: 2px;
}

.date{
    text-align: right;
    display: inline;
    float: right;  

}

.organizer{
    font-size: 15px;
    padding-bottom: 5px;
}

.primary{
    padding-bottom: 4px;
    background-color:deepskyblue;
    border: 4px solid deepskyblue;
    text-align: center;
    padding: 2px 4px;
    border-radius: 10px;
    color:white;
}
.secondary{
    display: inline;
    padding-bottom: 4px;
    float: right;  
}

.description{
    padding-bottom: 7px;
}