.C, .A, .B{
    display: inline;
    position: absolute top;
    margin-top: 6px;
    padding-bottom:7px;
    text-align: center;
    padding-left: 1px;
    padding-right: 1px;
   
}

.C{
    border: 0.2em solid red;
    background-color: yellow;
}
.A{
    position: relative;
    top: 0.2em;
    
}
.B{
    position: relative ;
    bottom: 0.2em;
}

